<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Intersection Tooltip venn.js example</title>
<style>
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
</style>
</head>

<body>
    <div id="Venngraph"></div>
</body>

<style>
.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 16px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

#Venngraph{
margin-top: -20px;
}
</style>
<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<script src="../d3/d3.min.js"></script>
<script src="../venn-js-master/venn.js"></script>

<script>

	console.log(">>>INIT-->>>>");

	
	function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}


	 function postMessage(payload, frameOrigin) {
		 
		var venngraphdata; 
		var assetID = payload.assetID;
		
		if(payload.message[0])
		{
			venngraphdata = payload.message[0];
			
			if(assetID!="" && assetID != undefined )
			{
				console.log(">>>assetID>>"+assetID);
				//console.log(">>>DATA>>"+venngraphdata["Aset1001"]);
				//console.log(">>>chart DATA>>"+Chartdata["Aset1001"]);
				//console.log(">>>chart DATA-1>>"+Chartdata1[0]["Aset1001"]);
				
				
				drawGraph(venngraphdata,assetID);
			}else
			{
				console.log(">>>ASSET ID NOT RECEIVED>>");
			}
			
		}else
		{
			    console.log(">>>GRAPH DATA NOT RECEIVED>>");
		}
		
		
	} 
	    
	    

	function isGraphdata(key,venngraphdata){
		if(venngraphdata!=null)
		{
			if(venngraphdata[key] != undefined)
			{
			  return true;
			}
			else
			{
				return false;
			}
		}
		
	}

	
	function drawGraph(venngraphdata,assetID)
	{
		console.log(">>>INIT-->>>>DRAW");
		var chart = venn.VennDiagram().width(480).height(480);
		var div = d3.select("#Venngraph");

		var assetinfoID = getParameterByName('assetinfoID');
		
		if(assetinfoID =="")
		{
			console.log(">>>assetinfoID parameter is empty>>>"+assetinfoID+"<<");
			assetinfoID = assetID;
		}
			
		var keydata = "Aset"+assetinfoID;
		console.log(">>>Asset Key>>>"+keydata+"<<");
		
		if(isGraphdata(keydata,venngraphdata))
		{
			console.log(">>>GRAPH START->>>>");
			
			div.datum(venngraphdata[keydata]).call(chart);

			var tooltip = d3.select("body").append("div").attr("class", "venntooltip");

			div.selectAll("path").style("stroke-opacity", 0).style("stroke", "#fff").style("stroke-width", 0)

			div.selectAll("g")
			    .on("mouseover", function(d, i) {
			        // sort all the areas relative to the current item
			        venn.sortAreas(div, d);

			        // Display a tooltip with the current size
			        tooltip.transition().duration(400).style("opacity", .9);
			        tooltip.text(d.size + " users");

			        // highlight the current path
			        var selection = d3.select(this).transition("tooltip").duration(400);
			        selection.select("path")
			            .style("stroke-width", 3)
			            .style("fill-opacity", d.sets.length == 1 ? .4 : .1)
			            .style("stroke-opacity", 1);
			    })

			    .on("mousemove", function() {
			        tooltip.style("left", (d3.event.pageX) + "px")
			               .style("top", (d3.event.pageY - 28) + "px");
			    })

			    .on("mouseout", function(d, i) {
			        tooltip.transition().duration(400).style("opacity", 0);
			        var selection = d3.select(this).transition("tooltip").duration(400);
			        selection.select("path")
			            .style("stroke-width", 0)
			            .style("fill-opacity", d.sets.length == 1 ? .25 : .0)
			            .style("stroke-opacity", 0);
			    });
			
			
			console.log(">>>GRAPH END->>>>");
			
		}else
			{
			 document.getElementById("Venngraph").innerHTML = "<br><br><b>ASSET ID NOT RECEIVED</b>";
			}
		
	}
	

</script>
</html>
